body {
    margin: 0 auto;
    background-color: seagreen;
    background-image: url(/src/images/Bikini_Bottom.jpg);
}

img {
    height: 300px;
    width: 600px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5db7ce;
    width: 100%;
    
}

button {
    margin: 1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 15%;
    border: 0px solid;
    background-color: aqua;

}

p {
    font-size: 1.3rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.headContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    background-color: #18a6c7;
}

.allContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #18a6c7;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #18a6c7;
}

.menuContainer, .firstContainer, .secondContainer, .thirdContainer, .fourthContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aContainer1, .aContainer2, .aContainer3, .aContainer4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}